body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 55px;
    position: sticky;
    background: rgb(231, 231, 231);
    border-bottom: 1px solid rgb(182, 181, 181);
}

.header .logo {
    max-width: 250px;
}

.header .logo img {
    width: 100%;
}

.menu {
    width: 80%;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.menu ul li {
    padding: 0 20px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .6px;
    text-transform: uppercase;
    color: rgb(27, 26, 26);
}

.menu ul li a:Hover {
    color: tomato;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 60px;
    margin: 20px 0px 50px;
}

.half-content {
    width: 50%;

}

.half-content h1 {
    font-size: 58px;
    font-weight: bold;
    color: rgb(68, 66, 66);
}

.half-content span {
    color: #FE4B2E;
}

.half-content p {
    font-size: 18px;
    color: rgb(56, 52, 52);
    font-weight: 500;
    line-height: 1.6em;
    word-spacing: 0.2em;
    padding-bottom: 30px;
}

.half-content a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    background-image: linear-gradient(to right, #FD4A2E, #FC8F49);
    padding: 15px 25px;
    border-radius: 30px;
    color: rgb(1, 39, 56)
}

.half-content a:hover {
    background-image: linear-gradient(to left, #FD4A2E, #FC8F49);
    padding: 18px 30px;
    color: rgb(253, 251, 250)
}

.half-content img {
    width: 95%;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(image/banner-bg.png);
    background-repeat: no-repeat;
    height: 600px;
}

.about-container .half-content img {
    width: 74%;
    padding: 50px 0 0 50px;
}

.about-container .half-content h2 {
    font-size: 38px;
    color: rgb(68, 66, 66);
}

.about-container .half-content p {
    padding-right: 100px;

}

.recipie-container {
    align-items: center;
    padding: 50px 50px 70px;
}

.recipie-content {
    text-align: center;
    padding-bottom: 30px;
}

.recipie-content h2 {
    font-size: 38px;
    color: rgb(68, 66, 66);
}

.recipie-content p {
    font-size: 18px;
    color: rgb(56, 52, 52);
    font-weight: 500;
    word-spacing: 0.2em;
    line-height: 1.6em;
    padding: 10px 200px;
}

.single-recipe {
    display: flex;

    padding: 0 30px;
}

.recipie-item {
    width: 30%;
    min-height: 500px;
    box-shadow: 8px 8px 30px rgb(226, 223, 223);
    border-radius: 24px;
    padding: 20px;
    margin: 0 15px;
}

.recipie-item:hover {
    width: 30%;
    min-height: 500px;
    box-shadow: 8px 8px 40px rgb(207, 204, 204);
    border-radius: 24px;
    padding: 20px;
    margin: 0 15px;
}

.recipie-item img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
}

.recipie-item h4 {
    font-size: 28px;
    font-weight: 700;
}

.recipie-item p {
    font-size: 18px;
    color: rgb(56, 52, 52);
    font-weight: 500;
    line-height: 1.6em;
    word-spacing: 0.2em;
}

.subscribe-box {
    background-image: linear-gradient(to right, tomato, rgb(255, 145, 0));
    min-height: 250px;
    padding: 60px 0px 30px;
}

.form-title {
    text-align: center;
}

.form-title b {
    font-weight: 500;
    color: white;
}

.form-title h3 {
    font-size: 36px;
    font-weight: 500;
}

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content .form-item input {
    font-size: 16px;
    padding: 13px 50px;
    margin: 0 10px;
    border: 1px solid rgb(121, 119, 119);
    border-radius: 6px;
}

#form-button input {
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 11px 50px;
    border: 1px solid rgb(121, 119, 119);
    border-radius: 10px;
    background-color: dodgerblue;
}

.social {
    padding: 60px 50px;
}

.social-box {
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 40px rgb(216, 214, 214);
    margin: 0 50px;
    border-radius: 20px;
}

.social-item {
    padding: 10px 100px 30px;
}

.social-item h2 {
    font-size: 50px;
    margin-bottom: -10px;
}

.editors-container {
    background-color: rgb(245, 245, 245);
    padding: 60px 0px;
}

.editors-content {
    padding: 0px 98px;

}

.editors-content h2 {
    font-size: 38px;
    color: rgb(68, 66, 66);
    padding-bottom: 20px;
}

.editor-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.editor-item .single-editor {
    height: 460px;
    margin: 10px 40px;
    text-align: center;
    background-color: white;
    box-shadow: 6px 6px 30px rgb(231, 230, 230);
    border-radius: 10px;

}

.editor-item .single-editor:hover {
    margin: 10px 40px;
    text-align: center;
    box-shadow: 6px 6px 40px rgb(226, 212, 212);
}

.editor-item .single-editor h4 {
    font-size: 28px;
    height: 30px;

}

.editor-item .single-editor h4 a {
    text-decoration: none;
    color: coral;
}

.editor-item .single-editor h4 a:hover {
    font-size: 30px;
    color: rgb(122, 40, 10);
}

.editor-item .single-editor p {
    font-size: 18px;
    color: rgb(56, 52, 52);
    font-weight: 600;
    word-spacing: 0.2em;
    margin-top: -20px;
}

.editor-item .single-editor img {
    padding: 30px;
    width: 270px;
}

.footer-container {
    padding: 40px 0px;
    background-color: rgb(14, 16, 26);
}

.footer-content {
    text-align: center;
}

.footer-content h2 {
    font-size: 34px;
    color: rgb(73, 71, 71);
}

.footer-content span {
    color: #FD4D2F;
}

.footer-content h4 {
    font-size: 16px;
    font-weight: 400;
    color: rgb(170, 163, 163);
    line-height: 1.6em;
    word-spacing: 0.2em;
}